{# Recursive include for docs tree #}
{% set tree = _tree if _tree is defined else tree %}
{% set parent_path = _parent_path if _parent_path is defined else parent_path %}
{% set file_path = _file_path if _file_path is defined else file_path %}
{% for node in tree %}
{% if node.type == 'dir' %}
<li>
    <div class="font-semibold text-blue-300">{{ node.name }}/</div>
    <ul class="ml-4 border-l border-gray-700 pl-2">
        {% set _tree = node.children %}
        {% set _parent_path = (parent_path ~ node.name ~ '/') if parent_path is defined else (node.name ~ '/') %}
        {% set _file_path = file_path %}
        {% include 'main/_tree.html' %}
    </ul>
</li>
{% elif node.type == 'file' %}
<li>
    {% set rel_path = (parent_path ~ node.name) if parent_path is defined else node.name %}
    <a href="/docs/{{ rel_path }}"
        class="block px-2 py-1 rounded transition {{ 'bg-purple-700 text-white' if file_path == rel_path else 'hover:bg-gray-700 hover:text-purple-200' }}">
        <i class="fa-regular fa-file-lines mr-2 text-purple-400"></i>{{ node.name }}
    </a>
</li>
{% endif %}
{% endfor %}